@model Message
<form asp-action="postMessage" asp-controller="Home" method="post">
    <div class="form-group">
        <span asp-validation-for="text"></span>
        <label asp-for="text"></label>
        <input asp-for="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">New Message</button>
</form>